.nott {
    padding-top: 8pt;
    padding-bottom: 8pt;
    padding-left: 12pt;
    padding-right: 20pt;
    color: white;
    border-radius: 12px;
    border: 6px solid #76111a;
    text-align: justify;
    background-color: #76111a8a;
}

.carapake {
    padding-top: 8pt;
    padding-bottom: 8pt;
    padding-left: 12pt;
    padding-right: 12pt;
    color: white;
    border-radius: 10px;
    border: 5px solid #430078;
    text-align: justify;
    background: #2a004b69;
}

.nott:before, .carapake:before {
	font-size:17pt;
    font-weight: 900;
}
.nott:before { content: "DILARANG  "; color:#be2836;}
.carapake:before { content: "CARA PAKAI & PASSWORD "; color:#b04dff;}

.nott1, .nott2, .nott3, .nott4, .nott5, .nott6, .stepsoft1, .stepsoft2, .stepsoft3, .stepsoft4, .stepsoft5, .stephard1, .stephard2, .stephard3, .stepngkia, .stepngkib, .stepngkic {
padding-left:13pt; text-align:justify; padding-bottom:3pt; padding-top:2pt; color:white; font-size:11pt;
}
.nott1:before { content: "menghapus credit, menambah credit, apalagi mengklaim ";}
.nott2:before { content: "mengupload konten ini di fanshare apapun dengan alasan dan tujuan apapun ";}
.nott3:before { content: "meng-encode ulang dengan menggantinya, baik sedikit atau keseluruhan ";}
.nott4:before { content: "mengedit segala isi di sub ini tanpa izin ";}
.nott5:before { content: "menyalin style ciri khas MoeFang Subs ";}
.nott6:before { content: "membagikan direct langsung ke Google Drive. Mohon hargai waktu dan tenaga yang sudah saya curahkan kemari";}

.stepsoft1:before { content: "Download RAW-nya terlebih dahulu dari link yang sudah disediakan. Jika sudah punya, ya gaperlu";}
.stepsoft2:before { content: "Download softsubnya bila tersedia";}
.stepsoft3:before { content: "Jangan lupa untuk download font wajibnya dan install";}
.stepsoft4:before { content: "Simpan softsub dengan RAW di folder yang sama, dan berikan nama yang sama juga";}
.stepsoft5:before { content: "Putar videonya dengan player selain bawaan Windows seperti POTPlayer, MPC, dan lain-lain. Bagi pengguna ponsel, silakan gunakan pemutar seperti VLC dan lainnya";}
.stephard1:before { content: "Download file hardsub diatas yang sudah di-zip";}
.stephard2:before { content: "Ekstrak menggunakan 7Zip/WinRar (PC) ZArchiver (Smartphone) dengan password ";}
.stephard3:before { content: "Bagi yang mengunduh versi hardsubnya, silakan ekstrak menggunakan 7Zip/WinRar (PC) ZArchiver (Smartphone) dengan password ";}
.stepngkia:before { content: "Untuk versi Epilogue, masukan passwordnya ";}
.stepngkib:before { content: "Untuk versi Individual, masukan passwordnya ";}
