.catat {
    padding-top:8pt;
    padding-bottom:8pt;
    padding-left:12pt;
    padding-right:20pt;
    color:white;
    border-radius:10px;
    border:5px solid #4DAEF0;
    text-align:justify;
}
.catat:before {
	font-size:13pt;
    font-weight: 900;
}
.catat:before { content: "CATATAN"; color:#4DAEF0;}

.catat1, .catat2, .catat3 {
padding-left:13pt; text-align:justify; padding-bottom:3pt; padding-top:2pt; color:white; font-size:11pt;
}
.catat1:before { content: "Tidak menerima request RAW ";}
.catat2:before { content: "Tidak menerima request resolusi, hanya seadanya yang dipunya ";}
.catat3:before { content: "Tidak menerima request diupload di penyimpanan lain seperti Google Drive, dll ";}
