.buttondown {
  margin:auto;
  border-radius: 8px;
  height: 30px;
  display: block;
  padding: 3pt;
}
@media only screen and (max-width: 600px) { .buttondown {width: 80%;}}
@media only screen and (min-width: 600px) { .buttondown {width: 40%;}}

.downsubs {
  border: 2px solid #5dbcd2;
  background: linear-gradient(to right, #5dbcd2 50%, #2a004b  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .6s ease-out;
}
.downhulu {
  border: 2px solid #1CE783;
  background: linear-gradient(to right, #1CE783 50%, #2a004b  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .6s ease-out;
}
.downtrak {
  border: 2px solid #ea4454;
  background: linear-gradient(to right, #be1e2d 50%, #2a004b  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .6s ease-out;
}
.downtrem {
  border: 2px solid #1CE783;
  background: linear-gradient(to right, #be1e2d 50%, #2a004b  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .6s ease-out;
}
.downgen {
  border: 2px solid #b4b4b4;
  background: linear-gradient(to right, #b4b4b4 50%, #131214  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .6s ease-out;
}
.downsubs:hover, .downtrak:hover, .downtrem:hover, .downhulu:hover, .downgen:hover {  background-position: left bottom; }

.buttontext {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  display: block; 
}
.textsubs, .texthardx, .textharda, .texthardb, .textembd { color: #5dbcd2; transition: all .4s ease-out;}
.texthulu { color: #1CE783; transition: all .4s ease-out;}
.texttrak, .texttrem { color: #be1e2d; transition: all .4s ease-out;}
.textfont, .textgen, .textextr { color: #b4b4b4; transition: all .4s ease-out;}
.textsubs:hover, .texthardx:hover, .textharda:hover, .texthardb:hover, .textembd:hover { color: white; }
.texthulu:hover, .texttrak:hover, .texttrem:hover { color: white; }
.textgen:hover, .textfont:hover, .textextr:hover { color: white; }

.textsubs:before {  content: "SOFTSUB";}
.texthardx:before {  content: "HARDSUB";}
.textharda:before {  content: "HARDSUB 720p";}
.texthardb:before {  content: "HARDSUB 1080p";}
.textembd:before {  content: "MKV + SUB";}
.texthulu:before {  content: "SOFTSUB HULU";}
.texttrak:before {  content: "SOFTSUB";}
.texttrem:before {  content: "MKV + SUB";}
.textgen:before {  content: "RAW";}
.textextr:before {  content: "EPILOGUE & EXTRAS";}
.textfont:before {  content: "FONT WAJIB";}
