.blankblue { color: #5dbcd2; transition: all .4s ease-out;}
.blankred { color: #be1e2d; transition: all .4s ease-out;}
.blankgreen { color: #1CE783; transition: all .4s ease-out;}
.blankgrey { color: #b4b4b4; transition: all .4s ease-out;}

.blankblue:hover, .blankred:hover, .blankgreen:hover, .blankgrey:hover { color: white; }
