.spoilerText{
  display:none;
}
.spoilerChecked{
  visibility:hidden;
  border-radius:5pt;
  width:50%;
  background:white;
  color:white;
  font-weight:bold;
  transition: 1s ease;
}
.spoilerChecked:after{
  content:attr(showText)" :\00a0 Show";
  visibility:visible;
  padding: 10px;
  border-radius:5pt;
  background:#6c6cfe;
  transition: 1s ease;
  }
.spoilerChecked:checked:after{
  content:attr(showText)" :\00a0 Hide";
  background:white;
  color:#2A004A;
  width:50%;
  border-radius:5pt 5pt 0pt 0pt;
}
.spoilerContent{
  display:block;
  overflow: auto;
  height:auto;
  width:100%;
  max-height:0;
  margin-left:3px;
  margin-top:8px;
  padding:10px;
  transform: scaleY(0);    
  transform-origin: top;
  transition: 1s ease;
  background:#6c6cfe82;
  border-radius:0pt 5pt 5pt 5pt;
  box-shadow: 5px 5px 10px #000000;
}
.spoilerChecked:checked + .spoilerContent{
  overflow: auto;
  max-height:500px;
  display:inline-block;  
  transform: scaleY(1);
  border-radius:0pt 5pt 5pt 5pt;
}
