/*-- warn untuk front blog --*/

.warnblog {
max-width : 100%;
border-radius:2pt;
padding:5pt;
color:white;	
/*-- background:rebeccapurple; --*/
/*-- background:mediumpurple; --*/
/*-- background:green; --*/
/*-- background:firebrick; --*/
background:crimson; 
}
